extends layout.pug
block pageTitle
  title Blogs
block style
  link(rel='stylesheet' href='/static/styles/blog.css')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,700;1,100;1,600&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css' integrity='sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==' crossorigin='anonymous' referrerpolicy='no-referrer')
block bodyContent
  section.sub-header
    h1 Our Blogs
  // --------- blog page contant ---------
  section.blog-content
    .row
      .blog-left
        img(src='/static/images/banner2.png' alt='')
        h2 Our Certification &amp; Online Programs We Offers For 2023
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione perspiciatis non fuga cumque? Dolor reiciendis quis, ullam reprehenderit velit nihil nostrum facilis excepturi similique. Quo soluta laboriosam porro fugiat perspiciatis!
        br
        p
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque atque, totam dolore rerum libero quam ducimus aperiam! Perferendis sit quaerat mollitia perspiciatis at magnam ex porro a voluptates dolorem voluptas sequi laudantium alias ab repellat, autem delectus non ullam numquam odit? Non praesentium eos magnam quos accusamus modi nobis incidunt, amet quod quisquam a deleniti culpa laborum aliquid autem temporibus iste libero dolorum obcaecati cupiditate sequi ipsam est earum. Voluptatibus at quibusdam, cumque quasi aperiam amet illum dolor blanditiis in. Ducimus repellendus, rerum sapiente tenetur ipsa sed quo ea eligendi neque magnam, cupiditate exercitationem nam. Sapiente quam non incidunt qui. ipsum dolor sit amet consectetur adipisicing elit. Iusto fuga eos suscipit architecto illum quaerat? Omnis obcaecati voluptas a animi nam iure facere. Eaque nesciunt impedit consequuntur. Voluptates, commodi et.
        br
        p
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque atque, totam dolore rerum libero quam ducimus aperiam! Perferendis sit quaerat mollitia perspiciatis at magnam ex porro a voluptates dolorem voluptas sequi laudantium alias ab repellat, autem delectus non ullam numquam odit? Non praesentium eos magnam quos accusamus modi nobis incidunt.
        br
        p
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque atque, totam dolore rerum libero quam ducimus aperiam! Perferendis sit quaerat mollitia perspiciatis at magnam ex porro a voluptates dolorem voluptas sequi laudantium alias ab repellat, autem delectus non ullam numquam odit? Non praesentium eos magnam quos accusamus modi nobis incidunt, amet quod quisquam a deleniti culpa laborum aliquid autem temporibus iste libero dolorum obcaecati cupiditate sequi ipsam est earum. Voluptatibus at quibusdam, cumque quasi aperiam amet illum dolor blanditiis in..
        .comment-box
          h3 Leave a comment
          form.comment-form
            input(type='text' placeholder='Enter Name')
            input(type='email' placeholder='Enter Email')
            textarea(rows='5' placeholder='Your Comment')
            button.hero-btn.red-btn(type='submit') POST COMMENT
      .blog-right
        h3 Post Categories
        div
          span Web Development
          span 21
        div
          span Freelancing
          span 28
        div
          span NET Work Marketting
          span 15
        div
          span Blooging
          span 34
        div
          span SCO
          span 42
        div
          span Google Analyrics
          span 22
        div
          span Full Stack Developer
          span 35
  // --------- footer ---------
  section.footer
    h4 About Us
    p
      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem explicabo animi obcaecati nemo corrupti, illo minus architecto deleniti
      br
      | tempora ullam exercitationem mollitia itaque optio. Sint itaque reiciendis odit laudantium quia.
    .icons
      i.fa.fa-brands.fa-facebook
      i.fa.fa-brands.fa-twitter
      i.fa.fa-brands.fa-instagram
      i.fa.fa-brands.fa-linkedin
    p
      | Made with 
      i.fa-regular.fa-heart
      |  An HHS Project