extends layout.pug
block pageTitle
  title Univeristy Website Design
block style
  link(rel='stylesheet' href='/static/styles/contact.css')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,700;1,100;1,600&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css' integrity='sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==' crossorigin='anonymous' referrerpolicy='no-referrer')
block bodyContent
  h1 Contact Us
  // ---------Contact us--------
  section.location
    iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3424.69897913482!2d73.56561757994109!3d30.867101786284568!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39180c73f0000001%3A0xe8cb8b2de7d006fd!2sUniversity%20of%20Okara!5e0!3m2!1sen!2s!4v1678435115103!5m2!1sen!2s' width='600' height='450' style='border:0;' allowfullscreen='' loading='lazy' referrerpolicy='no-referrer-when-downgrade')
  section.contact-us
    .row
      .contact-col
        div
          i.fa-solid.fa-house
          span
            h5 XYZ, Road, ABC Building
            p Pakpattan, Punjab, PK
        div
          i.fa-solid.fa-phone
          span
            h5 +92 123456789
            p Monday to Sunday, 10AM to 6PM
        div
          i.fa-solid.fa-envelope
          span
            h5 shafiqahmadpkp747@gmail.com
            p Email us your query
      .contact-col
        form(action='form-handler.php' method='post')
          input(type='text' name='name' placeholder='Enter Your Name' required='')
          input(type='email' name='email' placeholder='Enter email adress' required='')
          input(type='text' name='subject' placeholder='Enter your subject' required='')
          textarea(rows='8' name='message' placeholder='Message' required='')
          button.hero-btn.red-btn(type='submit') POST COMMENT
  // --------- footer ---------
  section.footer
    h4 About Us
    p
      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem explicabo animi obcaecati nemo corrupti, illo
      | minus architecto deleniti
      br
      | tempora ullam exercitationem mollitia itaque optio. Sint itaque reiciendis odit
      |             laudantium quia.
    .icons
      i.fa.fa-brands.fa-facebook
      i.fa.fa-brands.fa-twitter
      i.fa.fa-brands.fa-instagram
      i.fa.fa-brands.fa-linkedin
    p
      | made with 
      i.fa-regular.fa-heart
      |  by HHS Projects
