doctype html
html(lang="en")
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        block pageTitle
        block style
        link(rel='stylesheet' href='/static/styles/navbar.css')
    body 
        .header
        input#toglebarbtn(type='checkbox')
        label.manuicontoggle(for='toglebarbtn')
            .spiner.top
            .spiner.middle
            .spiner.bottem
        #sidebartogglemanu.manu
            ul
                li
                    a(href='/') Home
                li
                    a(href='/blogs') Blogs
                li
                    a(href='/services') Service
                li
                    a(href='/privacy') Privacy Policy
                li
                    a(href='/about') About
                li
                    a(href='/contact') contact us
        block bodyContent

        block scripts