:root{
    --bg-hamburger: #333;
    --hamburger-lines-color: #fff;
}

#checkbox {
    display: none;
}

.hamburger-container {
    position: absolute;
    width: 25px;
    height: 20px;
    top: 12px;
    left: 7px;
    cursor: pointer;
}

.spinner {
    height: 3px;
    background-color: var(--hamburger-lines-color);
    border-radius: 2px;
    transition-duration: .5s;
}

.spinner.middle {
    transition-duration: .2s;
}

.spinner.middle,
.spinner.bottem {
    margin-top: 4px;
}

#checkbox:checked~.manu {
    margin-left: 0;
}

/* Middle line Hidden */
#checkbox:checked~.hamburger-container>.spinner.middle {
    opacity: 0;
    background-color: var(--bg-hamburger);
}

/* Rotation */
#checkbox:checked~.hamburger-container>.spinner.top {
    transform: rotate(135deg);
    margin-top: 8px;
}

#checkbox:checked~.hamburger-container>.spinner.bottem {
    transform: rotate(-135deg);
    margin-top: -9px;
}