/* Body */

/* Slider CSS */
/* Slideshow container */
.slideshow-container {
    /* Positioning */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    /* colors */
    background-color: #44affc;
    box-shadow: inset 0px 0px 10px 5px rgb(0 0 0 / 20%);

    /* box sizing */
    width: max-content;
    border-radius: 15px;
    margin: 2rem auto;
    margin-bottom: 8rem;
}

.slider {
    /* Positioning */
    position: relative;

    /* box sizing */
    width: 800px;
    min-height: 500px;
    margin: 20px;
    border-radius: 10px;

    /* colors */
    background: #000116;

    /* etc */
    overflow: hidden;
}

.slider .slide {
    /* Positioning */
    position: absolute;

    /* box sizing */
    clip-path: circle(0% at 0 50%);
    width: 100%;
    height: 100%;
}

.slider .slide.active {
    /* etc */
    clip-path: circle(150% at 0 50%);
    transition: 2s;
}

.slider .slide img {
    /* Positioning */
    position: absolute;

    /* box sizing */
    width: 100%;
    height: 100%;

    /* etc */
    object-fit: cover;
}

.slider .slide .info {
    /* Positioning */
    position: absolute;

    /* colors */
    color: #000;
    background: rgba(255, 255, 255, 0.65);
    box-shadow: 0 5px 25px rgb(1 1 1 / 5%);

    /* box sizing */
    width: 75%;
    margin-top: 50px;
    margin-left: 50px;
    padding: 20px;
    border-radius: 5px;
}

.slider .slide .info h2 {
    /* font-settings */
    font-size: 2em;
    font-weight: 800;
}

.slider .slide .info p {
    /* font-settings */
    font-size: 1.4em;
    font-weight: 400;
}

.navigation {
    /* Positioning */
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* etc */
    opacity: 0;
    transition: opacity 0.5s ease;
    height: 500px;
}

.slider:hover .navigation {
    opacity: 1;
}

.prev-btn {
    /* Positioning */
    position: absolute;
    left: 1px;
    z-index: 8;

    /* font-settings */
    font-size: 1.7rem;

    /* box sizing */
    border-radius: 50%;

    /* colors */
    color: #f6eded;
    box-shadow: 0px 0px 2px rgb(0 0 0 / 37%), 0px 2px 4px rgb(0 0 0 / 35%), 0px -2px 4px rgb(0 0 0 / 35%);
    background: #4285f4;
}

.next-btn {
    /* Positioning */
    position: absolute;
    right: 1px;
    z-index: 8;

    /* colors */
    color: #f6eded;
    box-shadow: 0px 0px 2px rgb(0 0 0 / 37%), 0px 2px 4px rgb(0 0 0 / 35%), 0px -2px 4px rgb(0 0 0 / 35%);
    background: #44affc;

    /* box & font sizing */
    font-size: 1.7rem;
    border-radius: 50%;
}

.slideshow-container:hover .prev-btn,
.slideshow-container:hover .next-btn {
    /* colors */
    color: #44affc;
    background-color: #fff;
}

.navigation-visibility {
    /* Positioning */
    display: flex;
    justify-content: center;
    z-index: 8;
}

.navigation-visibility .slide-icon {
    /* Positioning */
    transform: translateY(-50px);
    z-index: 8;

    /* colors */
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);

    /* box sizing */
    width: 20px;
    height: 10px;
    border-radius: 2px;
    margin: 0 6px;
}

.navigation-visibility .slide-icon.active {
    /* colors */
    background: #44affc;
}

.tv-stand {
    /* Positioning */
    position: absolute;
    z-index: -1;
    bottom: -17px;

    /* box sizing */
    height: 26px;
    width: 50px;

    /* colors */
    background: #44affc;
    box-shadow: inset 0px 0px 10px 5px rgb(0 0 0 / 20%);
}

.tv-pad {
    /* Positioning */
    position: absolute;
    bottom: -57px;
    z-index: -2;

    /* box sizing */
    width: 199px;
    height: 40px;
    border-radius: 8px;

    /* colors */
    background: #44affc;
    box-shadow: inset 0px 20px 8px rgb(0 0 0 / 27%), inset 0px -12px 8px rgb(255 255 255 / 25%);
}

@media (max-width: 900px) {
    .slideshow-container {
        width: 90%;
    }
}

@media (max-width: 900px) {
    .slider .slide .info {
        /* Positioning */
        position: relative;

        /* box sizing */
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 500px) {
    .slider .slide .info h2 {
        /* font-settings */
        font-size: 1.8em;

        /* Positioning */
        line-height: 40px;
    }

    .slider .slide .info p {
        /* font-settings */
        font-size: 0.9em;
    }

    .tv-pad,
    .tv-stand {
        display: none;
    }
}










/* Packages */
.cards-container::before {
    content: 'Packages';

    /* Positioning */
    position: relative;
    display: flex;
    align-items: center;
    z-index: 9;
    justify-content: center;

    /* box sizing */
    height: 58px px;
    padding: 10px;
    width: 100%;
    border-radius: 50px;

    /* colors */
    background-color: #fff;
    box-shadow: inset 0px 0px 10px rgb(0 0 0 / 24%), 4px 1px 10px rgb(0 0 0 / 24%);

    /* font-settings */
    font-family: ubuntu;
    font-size: 2.4rem;
}

.cards-container {
    /* Positioning */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    /* box sizing */
    padding: 40px;
    min-height: 100vh;
}

.card {
    /* font-settings */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    /* Positioning */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;

    /* box sizing */
    width: 320px;
    height: 450px;
    margin: 30px;
    border-radius: 20px;
    border-bottom-left-radius: 160px;
    border-bottom-right-radius: 160px;

    /* colors */
    background: #44affc;
    box-shadow: 0 15px 0 #fff,
        inset 0 -15px 0 rgba(255, 255, 255, 0.24),
        0 45px 0 rgba(0, 0, 0, 0.15);

    overflow: hidden;
}

.card::before {
    content: "";

    /* Positioning */
    position: absolute;
    top: -140px;
    left: -40%;
    transform: rotate(35deg);

    /* box sizing */
    width: 100%;
    height: 120%;
    padding: 0;

    /* colors */
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2));
    filter: blur(5px);

    /* etc */
    pointer-events: none;
}

.card .icon {
    /* Positioning */
    position: relative;
    top: 40px;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    /* box sizing */
    width: 140px;
    height: 120px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;

    /* colors */
    box-shadow: 0 15px 0 rgba(0, 0, 0, 0.1),
        inset 0 -8px 0 #fff;
}

.card .icon i {
    /* Positioning */
    position: relative;
    top: 20px;
    z-index: 8;

    /* colors */
    color: #fff;

    /* etc */
    --ionicon-stroke-width: 24px;
    font-size: 6em;
    transition: .8s;
}

.card:hover .icon i {
    top: -15px;
}

.card .content {
    /* Positioning */
    position: absolute;
    text-align: center;
    bottom: 98px;

    /* box sizing */
    width: 100%;
    padding: 30px;
    padding-top: 150px;
}

.card .content a {
    /* font-settings */
    text-decoration: none;
    font-size: 1.8em;

    /* box sizing */
    margin-bottom: 15px;
    margin-top: 40px;
    padding: 10px 20px;
    border-radius: 20px;

    /* colors */
    background-color: #fff;
    color: #44AFFC;

    /* etc */
    transition: .5s;
}

.card .content a:hover {
    /* colors */
    box-shadow: 0px 0px 30px 5px rgb(0 0 0 / 18%);
}

.card .content h2 {
    /* Positioning */
    position: relative;
    top: -15px;
    line-height: 1.5em;

    /* colors */
    color: #fff;
}