/* Default Settings */
* {
    /* box sizing */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* sizing */
    font-size: 62.5%;
}


html {
    scroll-behavior: smooth;
}

/* Utility Properties */
.poppins {
    font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ubuntu {
    font-family: Ubuntu, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.seoge {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.normalize-link {
    text-decoration: none;
    color: black;
}

.theme-color {
    /* colors */
    background-color: #44affc;
    color: #fff;
}

/* Vertical Navigation Bar css */
/* Vertical Navigation bar buttons */
.text-btn {
    /* Colors & borders */
    background-color: #44affc;
    color: #fff;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25),
        inset 2px 2px 3px rgba(255, 255, 255, 0.25),
        inset -3px -3px 5px rgba(0, 0, 0, 0.5);
    border-radius: 15px;

    /* box & font sizing */
    font-size: 2rem;
    padding: 0px 10px;
    margin-left: 6px;
    margin-top: 5px;
    height: 40px;

    /* Positioning */
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    /* Positioning */
    display: flex;
    flex-direction: row;
}

#nav-container {
    /* box sizing */
    height: 100vh;
    width: 300px;
    border-bottom-right-radius: 16px;
    border-top-right-radius: -50px;

    /* colors */
    background-color: #fff;
    box-shadow: inset -10px 0px 0px #44affc;

    /* Positioning */
    transform: translateX(-400px);
    padding: 20px;
    position: absolute;
    top: 58px;
    z-index: 9;

    /* etc */
    transition: 1s;
    overflow-y: auto;
}

#nav-container ul {
    /* font-setting */
    text-decoration: none;
    list-style-type: none;
}

#nav-container ul li {
    /* font-settings */
    font-size: 1.8rem;
}

#nav-container ul>li>a>img {
    margin-top: 16px;
    width: 100%;
}

#nav-container li a {
    /* Positioning */
    display: flex;
    align-items: center;
}

#nav-container .nav-icons {
    /* Colors & borders */
    background-color: #fff;
    color: #44affc;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25),
        inset 2px 2px 3px rgba(255, 255, 255, 0.25),
        inset -3px -3px 5px rgba(0, 0, 0, 0.5);

    /* font & box sizing */
    font-size: 2.2rem;
    margin-left: 6px;
    width: 40px;
    height: 40px;
    border-radius: 50%;

    /* Positioning */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;

    /* etc */
    margin-right: 10px;
    z-index: 5;
}

#nav-container b {
    /* font & sizing */
    height: 55px;
    width: 55px;
    border-radius: 50%;

    /* colors */
    background-color: #44affc;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25),
        inset 2px 2px 3px rgba(255, 255, 255, 0.25),
        inset -3px -3px 5px rgba(0, 0, 0, 0.5);

    /* etc */
    z-index: 4;
}

#nav-container .items b,
#nav-container .items i {
    margin-top: 5px;
}

#nav-container span {
    padding-left: 10px;
}

#hamburger-main {
    /* Positioning */
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 10;

    /* box sizing */
    width: 40px;
    height: 40px;
    margin-left: 6px;
    border-radius: 12px;

    /* colors */
    background-color: #44affc;
    box-shadow: inset 0px 0px 3px rgb(0 0 0 / 57%);

    /* etc */
    transition-duration: 1s;
}

/* Horizontal Navigation Bar css */
#h-nav-container {
    /* Positioning */
    position: relative;
    display: flex;
    align-items: center;
    z-index: 9;

    /* box sizing */
    height: 58px;
    width: 100%;
    padding-left: 65px;

    /* colors */
    background-color: #fff;
    box-shadow: inset 0px 0px 10px rgb(0 0 0 / 24%), 4px 1px 10px rgb(0 0 0 / 24%);
}

#h-nav-container nav ul {
    /* Positioning */
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* font-setting */
    list-style-type: none;
}

#h-nav-container nav {
    width: 100%;
}

#h-nav-container nav ul li a {
    /* font-setting */
    text-decoration: none;
    color: #fff;
}

#h-nav-container nav ul li a img {
    width: 136px;
}

#h-nav-container nav ul li:nth-child(2) {
    /* positioning */
    display: flex;
    justify-content: center;
    align-items: center;

    /* colors */
    color: #fff;
    background-color: #44affc;
    box-shadow: inset 2px 2px 5px rgb(255 255 255 / 25%), inset -3px -3px 5px rgb(0 0 0 / 25%);

    /* font-settings */
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.4rem;

    /* sizing */
    height: 40px;
    min-width: 40px;
    padding: 10px 20px;
    margin-right: 20px;
    border-radius: 20px;

    /* etc */
    cursor: pointer;
}
