*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    width: 100%;
    background-color: rgb(44, 44, 238);
    height: 60px;
    z-index: 5;

}   
.manuicontoggle{
    width: 20px;
    height: 20px;
    /* background-color: white; */
    z-index: 10;
    position: absolute;
    top: 20px;
    left: 15px;
    cursor: pointer;
}
#toglebarbtn:checked ~ #sidebartogglemanu{
    transform: translateX(0px);
}
#toglebarbtn{
    display: none;
}
.spiner{
    width: 20px;
    height: 3px;
    background-color: white;
    margin-top: 3px;
}
#sidebartogglemanu{
    width: 220px;
    background-color: blueviolet;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 60px;
    transform: translateX(-220px);
    padding: 5px;
    transition:all 250ms ease-in-out ;
}
.manu ul{
    list-style: none;
    margin: 0;
    padding: 0;

}
.manu li{
    border-bottom: 1px solid white;
}
.manu li a{
    display: block;
    margin: 20px;
    text-decoration: none;
    color: white;
    
}
#toglebarbtn:checked ~ .manuicontoggle >.spiner.middle{
    opacity: 0;
}
#toglebarbtn:checked ~ .manuicontoggle >.spiner.top{
    transform: rotate(135deg);
    margin-top: 8px;
}

#toglebarbtn:checked ~ .manuicontoggle >.spiner.bottem{
    transform: rotate(-135deg);
    margin-top: -9px;
}